
<%= link_to home_path do  %>

    <button type="button" class="return-bar has-tooltip" title="return" data-placement="right">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </button>

<% end  %>